<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
<div ng-app='enrollment' class="">
<div ng-controller='enrollmentController' class=''>
<h2>Activity Enrollment</h2>
<form>
<table class='table'>
<thead>
<th>Activity Name</th><th>Percentage</th><th>Description</th><th>View Events</th><th>&#10003;</th>
</thead>
<tr ng-repeat='activity in activityList'>
  <td>{{ activity.name }}</td><td>{{ activity.percent }}</td><td>{{ activity.description }}</td>
  <td><button type="button" class="btn btn-info btn-sm" ng-click='viewEvents(activity.id)'>View Events</button>
  </td>
<td><input type='checkbox' ng-model='enrollmentList[$index]' ng-change='alterMe($index)'></td>
<!-- Trigger the modal with a button -->

</tr>

</table>
<button ng-click='enroll()' class="btn btn-default">Submit</button>

<!-- Modal -->
<div id="eventDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event List</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat='event in eventList'>
          <p>{{event.eventname}} : {{event.startdate}} - {{event.enddate}}</p>
        </div>
        <div ng-hide='selectedActivity.eventList.length'>No events</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="submissionComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click='refresh()'>&times;</button>
        <h4 class="modal-title">Your Enrollment</h4>
      </div>
      <div class="modal-body">
        <p>Your have enrolled successfully. Please go to your forms to verify your enrollment.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='refresh()'>Close</button>
      </div>
    </div>

  </div>
</div>

</form>
</div>
</div>
<script>
var enroll = angular.module('enrollment', []);

enroll.controller('enrollmentController', ['$scope', '$http', function($scope, $http)
{
  //console.log('Controller is active');

  $scope.activityList = [];

  $scope.enrollmentList = [];

  $scope.session = '';
  $scope.eventList = [];

  var getSession = function(){
    // request get user session
    $http.get('/getUserSession/').success(function(response){
      // insert extra links if admin and add name to greeting on navbar
      //console.log('Got the session');
      $scope.session = response;
    });
  };


  //loadNav();
  getSession();

  $scope.refresh = function() {
    $http.get('/getActivityListUnenrolled/').success(function(response){
      /*
      for (var i = 0; i < response.length; i++)
      {
        console.log("Item "+i+" pushed.");
        $scope.activityList.push(response[i]); //convert each object in array to JSON and put into scope
      }
      */
      $scope.activityList = response;
      $scope.enrollmentList = []; // initialize list
      for (var i = 0; i < $scope.activityList.length; i++)
      {
        $scope.enrollmentList.push(false); // all turned off initially
      }
    });
  };

  $scope.alterMe = function(id) {
    //console.log('Activity '+id+' status altered');
    //$scope.enrollmentList[id] = !$scope.enrollmentList[id]; // negate the current state (ng-model takes care of this)
    //console.log('Activity status: '+$scope.enrollmentList);
  };

  $scope.enroll = function(){
    //collect all true elements in the enrollment list, use the indexes to reference the activity list, and submit to server
    //console.log($scope.activityList.length == $scope.enrollmentList.length) //check if lengths are the same first
    for (var i = 0; i < $scope.activityList.length; i++)
    {
      if ($scope.enrollmentList[i] == true) {
        //console.log("You are to be enrolled in: "+$scope.activityList[i].name)
        $http.post('/enrollUser/', $scope.activityList[i]).success(function(response){
          //console.log("Enrolled successfully");
        });
      }
    }
    // trigger modal
    $('#submissionComplete').modal();
    //refresh();
  };

  $scope.viewEvents = function(id){
    $http.get('/viewEvents/'+id).success(function(response){
      $scope.eventList = response;
      $('#eventDetail').modal();
    });
  };


  $scope.refresh();

}]);

</script>
