<head>
<title>Activity Enrollment</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/client/css/site.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js'></script>
<script src='/client/js/bootstrap.min.js'></script>
</head>
<body ng-app='enrollment' class="ng-cloak">
<div ng-controller='enrollmentController' class='container'>

<nav class='navbar navbar-inverse navbar-fixed-top'>
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand">Wellness Enrollment</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li><a href='/enroll/'>Enroll</a></li>
  <li><a href="/profile/">My Profile</a></li>
  <li><a href="/form/">My Forms</a></li>
  <li><a href="/logout/">Logout</a></li>
  <li><a></a></li>
  <li><a></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li id='greeting'><a class='navbar-brand' ng-model='session'>Welcome {{session.user}}</a></li>
</ul>
</div>
</div>
</nav>

<h2>Activity Enrollment</h2>
<form>
<table class='table'>
<thead>
<th>Activity Name</th><th>Percentage</th><th>Description</th><th>View Events</th><th>&#10003;</th>
</thead>
<tr ng-repeat='activity in activityList'>
  <td>{{ activity.name }}</td><td>{{ activity.percent }}</td><td>{{ activity.description }}</td>
  <td>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="">View Events</button>

<!-- Modal -->
<div id="$index" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal # {{ $index }}</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  </td>
  <td><input type='checkbox' ng-model='enrollmentList[$index]' ng-change='alterMe($index)'></td>
</tr>
</table>
<button ng-click='enroll()' class="btn btn-default">Submit</button>

<!-- Modal -->
<div id="submissionComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Enrollment</h4>
      </div>
      <div class="modal-body">
        <p>Your have enrolled successfully. Please go to your forms to verify your enrollment.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='refresh()'>Close</button>
      </div>
    </div>

  </div>
</div>

</form>
</div>
</body>
<script src='/client/controllers/enrollmentcontroller.js'></script>
