<h2>Activity Enrollment</h2>
<form>
<table class='table'>
<thead>
<th>Activity Name</th><th>Percentage</th><th>Description</th><th>View Events</th><th>&#10003;</th>
</thead>
<tr ng-repeat='activity in activityList'>
  <td>{{ activity.name }}</td><td>{{ activity.percent }}</td><td>{{ activity.description }}</td>
  <td><button type="button" class="btn btn-info btn-sm" ng-click='viewEvents(activity.id)'>View Events</button>
  </td>
<td><input type='checkbox' ng-model='enrollmentList[$index]' ng-change='alterMe($index)'></td>
<!-- Trigger the modal with a button -->

</tr>

</table>
<button ng-click='enroll()' class="btn btn-default">Submit</button>

<!-- Modal -->
<div id="eventDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event List</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat='event in eventList'>
          <p>{{event.name}} : {{event.startdate}} - {{event.enddate}}</p>
        </div>
        <div ng-hide='eventList.length'>No events</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="submissionComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click='getActivityList()'>&times;</button>
        <h4 class="modal-title">Your Enrollment</h4>
      </div>
      <div class="modal-body">
        <p>Your have enrolled successfully. Please go to your forms to verify your enrollment.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='getActivityList()'>Close</button>
      </div>
    </div>

  </div>
</div>

</form>
