<div ng-app='userForm' class="">
<div class='' ng-controller='userFormController'>
<h2>My Enrolled Activities</h2>
<table class='table'>
<thead>
  <th>Activity Name</th><th>Description</th><th>Date Enrolled</th><th>Percentage</th><th>Complete</th>
</thead>
<tr ng-repeat='activity in enrolledActivities'>
  <td>{{ activity.name }}</td><td>{{ activity.description }}</td><td>{{ activity.enrollmentdate }}</td><td>{{ activity.percent }}</td><td><span ng-if='activity.complete==true'>&#10003;</span></td>
</tr>
</table>
</div>
</div>
<script>
//var form = angular.module('userForm', []);

ngapp.controller('userFormController', ['$scope', '$http', function($scope, $http)
{
  console.log('Form controller is active');

  $scope.session = '';

  $scope.getSession = function(){
    // request get user session
    $http.get('/getUserSession/').success(function(response){
      // insert extra links if admin and add name to greeting on navbar
      //console.log('Got the session');
      $scope.session = response;
    });
  };

  //loadNav();
  $scope.getSession();

  $scope.enrolledActivities = [];

  $scope.refresh = function() {
    // get the enrolled activities for this user
    $http.get('/getEnrolledActivities/').success(function(response){
      $scope.enrolledActivities = response;
    });
  };

  $scope.refresh();
}]);
</script>
