<head>
<title>Account Administration</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/client/css/site.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js'></script>
<script src='/client/js/bootstrap.min.js'></script>
</head>
<body class="ng-cloak" ng-app='manage'>
<div ng-controller='manageController' class="container">
  <nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand">Wellness Enrollment</a>
  </div>
  <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href='/enroll/'>Enroll</a></li>
    <li><a href="/profile/">My Profile</a></li>
    <li><a href="/form/">My Forms</a></li>
    <li><a href="/logout/">Logout</a></li>
    <li><a></a></li>
    <li><a></a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li id='greeting'><a class='navbar-brand' ng-model='session'>Welcome {{session.user}}</a></li>
  </ul>
  </div>
  </div>
  </nav>

  <div class="right_col">
  <h2>User Information Management</h2>
  <table class='table'>
    <thead>
    <th>First Name</th><th>Last Name</th><th>Email</th><th>Department</th><th></th>
    <thead>
    <tr>
    <td><input class='form-control' ng-model='userMod.firstname' placeholder="First Name"/></td>
    <td><input class='form-control' ng-model='userMod.lastname' placeholder="Last Name"/></td>
    <td><input class='form-control' ng-model='userMod.email' placeholder="Email"/></td>
    <td><input class="form-control" ng-model='userMod.department' placeholder="Department"><input type='hidden' ng-model='userMod.username'/></td>
    <td><button class='btn btn-info' ng-click='updateUser()' disabled="true" id='updateButton'>Update</button></td>
  </tr>
  <tr ng-repeat='user in userList'>
    <td>{{user.firstname}}</td><td>{{user.lastname}}</td><td>{{user.email}}</td><td>{{user.department}}</td>
    <td><button class='btn btn-default' ng-click='editUser(user.username)'>Edit</button></td>
    <td><td><button class='btn btn-warning' ng-click='viewEnrollmentForUser(user.username)'>View Enrollment</button></td></td>
  </tr>
  </table>
  </div>

<!-- Modal -->
<div id="submissionComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click='getResources()'>&times;</button>
        <h4 class="modal-title">User Profile</h4>
      </div>
      <div class="modal-body">
        <p>User Profile has been updated successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='getResources()'>Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="userEnrollment" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click='getResources()'>&times;</button>
        <h4 class="modal-title">Enrollment for user</h4>
      </div>
      <div class="modal-body">
        <table>
        <thead>
        </thead>
          <tr ng-repeat='activity in enrollmentList'>
            <td><small>{{activity.name}} - Enrolled {{activity.enrollmentdate}}</small></td><td><input type="checkbox" ng-model='activity.complete'></td>
          </tr>
        </table>
        <p ng-hide='enrollmentList.length'>No enrolled activities</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='getResources()'>Close</button>
      </div>
    </div>

  </div>
</div>


</div>
</body>
<script src='/client/controllers/manageController.js'></script>
