<div class="">
<h2>User Profile</h2><br>
<div class='panel panel-default'>
<div class="panel-heading">
  <h3 class="panel-title" ng-model='userProfile'>User profile for: <b>{{userProfile.username}}</b></h3>
</div>
<div class="panel-body">
<label>First Name</label><input class='form-control' ng-model='userProfile.firstname' placeholder="First Name"/>
<label>Last Name</label><input class='form-control' ng-model='userProfile.lastname' placeholder="Last Name"/>
<label>Email</label><input class='form-control' ng-model='userProfile.email' placeholder="Email"/>
<label>Department</label><input class='form-control' ng-model='userProfile.department' placeholder="Department"/>
<br>
<button class="btn btn-default" ng-click='updateInfo()'>Update</button>
</div>
</div>

<!-- Modal -->
<div id="submissionComplete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Profile</h4>
      </div>
      <div class="modal-body">
        <p>Your information has been updated successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
</div>
<script>
/*
var profile = angular.module('qwert',[]);
profile.controller('profileController', ['$scope', '$http', function($scope, $http)
{
  console.log('Profile controller is active');

  $scope.session = '';

  $scope.getSession = function(){
    // request get user session
    $http.get('/getUserSession/').success(function(response){
      // insert extra links if admin and add name to greeting on navbar
      //console.log('Got the session');
      $scope.session = response;
    });
  };


  //loadNav();
  $scope.getSession();

  // Now make a request for the resources with http get (refresh function for now to request resources)

  $scope.userProfile = '';

  $scope.refresh = function()
  {
    $http.get('/getUserProfile/').success(function(response)
    {
      $scope.userProfile = response;
    });
  };

  $scope.refresh();

  $scope.updateInfo = function()
  {
    $http.put('/updateProfile/',$scope.userProfile).success(function(response)
    {
      //do something
      refresh();
      //alert('Your account has been updated successfully');
      $('#submissionComplete').modal();
    });
  }

}]);
*/
</script>
