
<div class="row">


  <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Total User Enrollment
          </div>
          <div class="panel-body">
              <div id="lineChart"></div>
          </div>
      </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Enrollment Demographics
          </div>
          <div class="panel-body">
              <div id="pieChart"></div>
          </div>
      </div>
  </div>

</div>
<!-- /. ROW  -->

<div class="row">
  <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Recent Actions
          </div>
          <div class="panel-body">
              <div class="list-group" ng-repeat='action in latestActionList'>
                <a class="list-group-item">
                  {{ action.user }} enrolled in an activity on {{ action.enrollmentdate }}
                </a>
          </div>
      </div>

  </div>
</div>
<!-- /. ROW  -->
</div>
